
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<style>
body {
	font-family: "Comic Sans MS", sans-serif;
	margin: 0;
	background-size: cover;
}

td {
	color: gray;
	padding: 7px;
	font-size: 18px;
}

p {
	color: red;
}

input[type='text'], input[type='number'], input[type='date'], input[type='month'],
	input[type='password'] {
	height: 40px;
	border-color: green;
	border: none;
	padding: 30;
	text-align: center;
	color: green;
}

footer {
	text-align: center;
}

input[type='submit'] {
	height: 30px;
	border-radius: 10px;
	border: none;
	padding: 30;
	text-align: center;
	color: red;
	background-color: orange;
}
</style>

<meta charset="ISO-8859-1">
<title>Insert title here</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>

	<div style="background-color: DodgerBlue;">
		<center>
			<h2>Registration FORM</h2>
		</center>
	</div>

	<div style="background-color: orange;">
		<marquee behavior="scroll" direction="left" style="color: blue">
			A human resources management system (HRMS) or human resources
			information system (HRIS) or human capital management (HCM) is a form
			of human resources (HR) software that combines a number of systems
			and processes to ensure the easy management of human resources,
			business processes and data. Human resources software is used by
			businesses to combine a number of necessary HR functions, such as
			storing employee data, managing payrolls, recruitment processes,
			benefits administration, and keeping track of attendance records. </marquee>
	</div>


	<form action="#" th:action="@{/hrms/registerEmployee}"
		th:object="${employeeRegistrationForm}" method="post">

		<!-- <center>
			<table style="width: 50%">
				
				<tr>
					<td>Employee Name</td>
					<td><input type="text" th:field="*{emp_name}">
				    <p th:if="${#fields.hasErrors('emp_name')}"  th:errors="*{emp_name}" ></p></td>
					
				</tr>

				<tr>
					<td>Salary</td>
					<td><input type="text" th:field="*{salary}">
				     <p th:if="${#fields.hasErrors('salary')}"  th:errors="*{salary}" ></p> </td>
 					
				</tr>


				<tr>
					<td>DepartMent</td>
					<td><select th:field="*{department}">
							<option value="HR">HR</option>
							<option value="IT services">IT services</option>
							<option value="Product development">Product development</option>
					</select></td>
					<p th:if="${#fields.hasErrors('department')}"  th:errors="*{department}" ></p>
				</tr>


				<tr>
					<td>HIRE-DATE</td>
					<td><input type="date" th:field="*{hire_date}">
					<p th:if="${#fields.hasErrors('hire_date')}"  th:errors="*{hire_date}" ></p></td>
				</tr>


				<tr>
					<td>EmailId</td>
					<td><input type="email" th:field="*{email_id}">
					<p th:if="${#fields.hasErrors('email_id')}"  th:errors="*{email_id}" ></p></td>
				</tr>

				<tr>
					<td>UserName</td>
					<td><input type="text" th:field="*{username}">
					<p th:if="${#fields.hasErrors('username')}"  th:errors="*{username}" ></p></td>
				</tr>

				<tr>
					<td>password</td>
					<td><input type="password" th:field="*{password}">
					<p th:if="${#fields.hasErrors('password')}"  th:errors="*{password}" ></p></td>
				</tr>

				<tr>
					<td><input type="submit" Value="Register"></td>
					<td><a th:href="@{/hrms/home}" class="btn btn-success"> HOME </a></td>
				</tr>


			</table> -->

		<div class="form-group">
			<label for="emp_name">Employee Name </label> <input type="text"
				class="form-control " th:field="*{emp_name}">
			<p th:if="${#fields.hasErrors('emp_name')}" th:errors="*{emp_name}"></p>

		</div>
		
		
		<div class="form-group">
			<label for="salary">Salary </label> <input type="text"
				class="form-control" th:field="*{salary}">
			<p th:if="${#fields.hasErrors('salary')}" th:errors="*{salary}"></p>
			
		</div>

		<div class="form-group">
			<label for="department">Department </label>
			<select class="form-control" th:field="*{department}">
				<option value="HR">HR</option>
				<option value="IT services">IT services</option>
				<option value="Product development">Product development</option>
			</select>
			<p th:if="${#fields.hasErrors('department')}"
				th:errors="*{department}"></p>

		</div>
		
		
		<div class="form-group">
			<label for="email_id" >Email Id </label> <input
				th:field="*{email_id}" type="email" class="form-control">
			<p th:if="${#fields.hasErrors('email_id')}" th:errors="*{email_id}"></p>
			
		</div>


		<div>
			 <label for="hire_date">HireDate </label> <input type="date"
				id="{hire_date}"  th:field="*{hire_date}">
             <p th:if="${#fields.hasErrors('hire_date')}"  th:errors="*{hire_date}" ></p>
	 </div>



		<div class="form-group">
			<label for="username" >UserName </label> <input
				th:field="*{username}" type="text" class="form-control">
			<p th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
		</div>
		

		<div class="form-group">
			<label for="password" >Password </label> <input
			 th:field="*{password}" 	type="text" class="form-control">
			<p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
			</td>

		</div>

        <div>
		<button type="submit" class="btn btn-primary">Submit</button>
		</div>
		
		<center>
	    <a  th:href="@{/hrms/home}" class="btn btn-success"> HOME </a>
		</center>
	</form>




	<div style="background-color: DodgerBlue;">
		<footer>
			<h2>CopyRight &copy; 2018 Pioneer-Soft</h2>
			<p>All Rights are Reserved</p>
			<p>Developed & maintained by Pioneer-Soft</p>
		</footer>
	</div>
</body>
</html>
