
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<style type="text/css">
body {
	font-family: "Comic Sans MS", sans-serif;
	margin: 0;
	background-size: cover;
}

p {
	color: red
}

td {
	color:gray;
	padding: 7px;
	font-size: 18px;
}

input[type='text'], input[type='number'], input[type='date'], input[type='month'],
	input[type='password'] {
	height: 40px;
	border-radius: 20px;
	border: none;
	padding: 30;
	text-align: center;
	color: red;
}

footer {
	text-align: center;
}

p {
	color: red
}

input[type='submit'] {
	height: 30px;
	border-radius: 10px;
	border: none;
	padding: 30;
	text-align: center;
	color: red;
	background-color: orange;
}
</style>

<meta charset="ISO-8859-1">
<title>Insert title here</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>
	<div style="background-color: DodgerBlue;">
		<center>
			<h2>Project Assignment FORM</h2>
		</center>
	</div>

	<div style="background-color: orange;">
		<marquee behavior="scroll" direction="left" style="color: blue">
			A human resources management system (HRMS) or human resources
			information system (HRIS) or human capital management (HCM) is a form
			of human resources (HR) software that combines a number of systems
			and processes to ensure the easy management of human resources,
			business processes and data. Human resources software is used by
			businesses to combine a number of necessary HR functions, such as
			storing employee data, managing payrolls, recruitment processes,
			benefits administration, and keeping track of attendance records. </marquee>
	</div>


	<form action="#" th:action="@{/hrms/assignProject}"
		th:object="${employeeProjectsForm}" method="post">
		<!-- <center>
<table style="width:50%">
  <tr>
   <td> Employee No   </td>
   <td> <input type="text" th:field="*{emp_no}" placeholder="EmployeeNumber" size="20"></br></br></td>
  </tr>
 
  
  <tr>
   <td>Type of PROJECT </td>
   <td><select th:field="*{type_of_the_project}">
                    <option value = "educational ">educational </option>
                    <option value = "medical "> medical </option>
                    <option value = "manufacturing ">manufacturing </option>
                    <option value = " construction  ">construction </option>
                    <option value = " research"> research </option>
                    </select></br></br>
   </td>
  </tr>
  
   <tr>
   <td>NAME OF THE PROJECT</td>
   <td> <input type="text" th:field="*{name_of_the_project}" th:placeholder="nameoftheproject" size="20"/></br></br></td>
  </tr>
  
   <tr>
   <td>START-DATE</td>
   <td>   <input type="date" th:field="*{start_date}" th:placeholder="startdate" size="20"></br></br></td>
  </tr>
  
  <tr>
   <td>END-DATE</td>
   <td>   <input type="date" th:field="*{end_date}" th:placeholder="enddate" size="20"></br></br></td>
  </tr>
  
  
    
   <tr>
   <td> STATUS </td>
   <td><select th:field = "*{status}">
                    <option value = "completed ">completed </option>
                    <option value = " inprogress  ">inprogress </option>
                    <option value = " new"> new </option>
                    <option value = " onhold"> onhold </option>
                    
                    </select></br></br>
   </td>
  </tr>
  
  <tr>
   <td><input type="submit" Value="APPLY"></td>
  </tr>
 
</table></center>

 -->

		<div class="form-group">
			<label for="emp_no">Employee Number</label> <input type="text"
				class="form-control" th:field="*{emp_no}" />
			<p th:if="${#fields.hasErrors('emp_no')}" th:errors="*{emp_no}"></p>
		</div>


		<div class="form-group">
			<label for="name_of_the_project">NAME OF THE PROJECT </label> <input
				th:field="*{name_of_the_project}" type="text" class="form-control">
			<p th:if="${#fields.hasErrors('name_of_the_project')}"
				th:errors="*{name_of_the_project}"></p>

		</div>


		<div class="form-group">
			<label for="type_of_the_project">Type of Project </label> <select
				class="form-control" th:field="*{type_of_the_project}">
				<option value="educational">educational</option>
				<option value="medical">medical</option>
				<option value="manufacturing">manufacturing</option>
				<option value="construction">construction</option>
				<option value="research">research</option>
			</select>

			<p th:if="${#fields.hasErrors('type_of_the_project')}"
				th:errors="*{type_of_the_project}"></p>

		</div>




		<div>
			<label for="start_date">START-DATE </label> <input type="date"
				id="start_date" th:field="*{start_date}">
			<p th:if="${#fields.hasErrors('start_date')}"
				th:errors="*{start_date}"></p>

		</div>


		<div>
			<label for="end_date">END-DATE </label> <input type="date"
				id="end_date" th:field="*{end_date}">
			<p th:if="${#fields.hasErrors('end_date')}" th:errors="*{end_date}"></p>

		</div>


		<div class="form-group">
			<label for="status">STATUS</label> <select class="form-control"
				th:field="*{status}">
				<option value="completed">completed</option>
				<option value="inprogress ">inprogress</option>
				<option value="new">new</option>
				<option value="onhold">onhold</option>
			</select>
			<p th:if="${#fields.hasErrors('status')}" th:errors="*{status}"></p>
		</div>


		<div>
			<button class="btn btn-success" type="submit">APPLY</button>
		</div>

		<center>
			<a th:href="@{/hrms/home}" class="btn btn-primary"> HOME </a> <a
				th:href="@{/hrms/projects}" class="btn btn-primary"> BACK </a></br> </br> </br> </br> </br> </br>
			</br> </br> </br> </br> </br> </br> </br> </br>
		</center>

		<div style="background-color: DodgerBlue;">
			<footer>
				<h2>CopyRight &copy; 2018 Pioneer-Soft</h2>
				<p>All Rights are Reserved</p>
				<p>Developed & maintained by Pioneer-Soft</p>
			</footer>
		</div>



	</form>
</body>
</html>