<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<style>

 footer
 {   
   text-align: center;
  }
  
  p{
    //background-color:green;    
  }
  h2{
    // background-color: orange;
  }
  
</style>
  <meta charset="ISO-8859-1">
  <title>Insert title here</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.b
  ootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

 </head>
 
<body>
<div style="background-color:DodgerBlue;">
<center><h3> ABOUT-US   </h3></center>
</div>
  
  <center><a th:href="@{/hrms/home}" class="btn btn-primary"> HOME </a></br></br></center>  
  
  
  <div style="background-color: orange;">
   <marquee behavior="scroll" direction="left" style="color: blue">
  A human resources management system (HRMS) or human resources information system (HRIS) or human capital management (HCM) is a form of human resources (HR) software that combines a number of systems and processes to ensure the easy management of human resources, business processes and data. Human resources software is used by businesses to combine a number of necessary HR functions, such as storing employee data, managing payrolls, recruitment processes, benefits administration, and keeping track of attendance records.

   </marquee>
 </div>
  
  <div class="container">
        <div class="row">
          <div class="col-md-12">
           <h2>What is BhaluV1</h2>
            <p>Any large data-driven GUI application is built by assembling GUI components (that are dynamically built at run-time by using real-time data) for building larger and larger components and finally the application, which further requires creating communication code for allowing collaboration between the GUI components. Any comprehensive GUI library must allow building any kind of reusable classes for presenting any kind of GUI components and any kind of container components for assembling the GUI components.
            7</p>
          
              <p>
              Each of the reusable Java Classes in Bhalu implements the presentation-logic part to present a GUI component, which requires inputting application data by using simple constructor and set-methods supported by the reusable Java class. The objective of the of Bhalu is to provide a large and ever expanding set of reusable Java classes for generating presentation code for any kind of GUI component. That is, there will be one or more reusable Java classes for presenting one or more kinds of Pie charts, one reusable Java class for presenting each kind of Line-chart, one reusable Java class for presenting each kind of Tree-component, and yet another reusable Java class for presenting each kind of a dial or meter, and so on.  
              </p>
       
             <p>
              Building a large GUI application requires assembling multiple GUI components and creating communication code for allowing collaboration between the components. To include each of the data driven GUI component needs implementing (i) application logic, which access data-sets at run-time from data sources and process (e.g. iterate over) data-sets for calculating necessary summaries of application data, and (ii) presentation logic to present the GUI component using the application data.  
             </p> 
           
            <h2> Objective Of BHALUV1</h2>
            <p>
               The main objective of the  Bhalu is to help even junior Java application developers including graduates fresh out of college in building more complex data driven GUI applications than possible even to the best engineers (e.g. having in-depth experience in diverse technologies such as JavaScript, SVG and Java) at respected companies such as Google, Microsoft or IBM. Any large data driven GUI application contains many large GUI components and the GUI components in the application need to collaborate with each other. To collaborate with each other, each of the components in the application needs to communicate with one or more other components.
            </p>
         
            <p>Pioneer-soft is the inventors of only possible comprehensive yet simple and flexible server side GUI library (e.g. implemented in Java) for helping Java application developer to build large and complex data driven GUI web applications.</p>            
          </div>
            
                         
           <div class="col-md-12">
            <h2> About PioneerSoft's Reserch And Inventions</h2>
            <p>
             Today there exists many technological problems having no viable solutions. For example, today no one believes that it is possible to invent simple and comprehensive GUI API (comparable to the GUI-APIs for building desktop GUI applications) for building complex graphics intensive applications for web (i.e. to run in browsers). Another problem: Except design and development of software products, design and building of no other product (e.g. even prototype of a one-of-a-kind product such as spacecraft or experimental jet-fighter) effected by spaghetti design (or code). Focus of our research has been to invent solutions to overcome such complex problems.    
            </p>
           
             
            <p>
              We made new discoveries and patented inventions that eliminate complexity and limitations of existing technologies for not only making the development of large or complex software far simpler but also to help software developers become many times more productive and innovative than ever. Our patented inventions also help developers build many times more complex software than practical today. We invented tools and technologies to help software developers create next generation software products. The users of our tools and inventions are software developers.
           </p>
           
           <p>
               If an application can be redesigned iteratively (e.g. to add more and more features or functionality) at a fraction of the cost and time (e.g. compared to competing applications), the application can be evolved quickly into a great application. Our revolutionary discoveries and patented inventions change how applications are imagined, designed and evolved. Our inventions and tools help developers many ways (than possible by using technologies exist today) such as developing custom applications for providing next generation software experiences to their customers or satisfying widest range of expectations or unique needs of customers at every turn.                    
           </p>
            
            <p>
              Today software developers are burdened by unnecessary complexity and technological limitations that are stifling their creativity and imagination by drowning them in spaghetti code. Except the designers of software, designers of no other physical product burdened by such spaghetti code/design. We made necessary discoveries that can help eliminate the spaghetti code/design. We are determined to free the software designers from the spaghetti code/design. We are building Tools (e.g. Bhalu library) to achieve this goal of freeing the software designers from the spaghetti code/design.     
           </p>
            
            
            <p>
           Achieving real CBD (Component Based Design) for software eliminates spaghetti code/design. Except Bhalu, no other GUI-API in the world is capable of creating real software components that are essential for achieving real CBD for software. The mission of Bhalu library is make it easy to build amazing web applications.  Bhalu helps Java developers build next generation data driven graphics intensive web-applications (e.g. by assembling real-software-components). For example, today even junior Java programmers can create more complex web application than practical for experienced developers at leading companies (e.g. Google or IBM) by using our Bhalu library.     
           </p>
            
         
         
 </div>
 </div>

 <div style="background-color:DodgerBlue;">
 <footer>
  <h2>CopyRight &copy; 2018 Pioneer-Soft</h2>
  <p>All Rights are Reserved</p>
  <p>Developed & maintained by Pioneer-Soft</p>
</footer>
</div>

  
</body>
</html>