<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<style>

 footer
 {   
   text-align: center;
  }
  
</style>
  <meta charset="ISO-8859-1">
  <title>Insert title here</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

 </head>
 
<body>
<div style="background-color:DodgerBlue;">
<center><h3> Contact US   </h3></center>
</div>
  
  <div style="background-color: orange;">
   <marquee behavior="scroll" direction="left" style="color: blue">
       A human resources management system (HRMS) or human resources information system (HRIS) or human capital management (HCM) is a form of human resources (HR) software that combines a number of systems and processes to ensure the easy management of human resources, business processes and data. Human resources software is used by businesses to combine a number of necessary HR functions, such as storing employee data, managing payrolls, recruitment processes, benefits administration, and keeping track of attendance records.
   </marquee>
 </div>
  
  <center><a th:href="@{/hrms/home}" class="btn btn-primary"> HOME </a></br></br></center>  
  <div class="container">
   <div style="background-color: orange;">
   <marquee behavior="scroll" direction="left" style="color: blue">
       A human resources management system (HRMS) or human resources information system (HRIS) or human capital management (HCM) is a form of human resources (HR) software that combines a number of systems and processes to ensure the easy management of human resources, business processes and data. Human resources software is used by businesses to combine a number of necessary HR functions, such as storing employee data, managing payrolls, recruitment processes, benefits administration, and keeping track of attendance records.
   </marquee>
 </div></br>
  
  
  
  <div style="background-color: blue;">
   <marquee behavior="scroll" direction="left" style="color: blue">
        <img  th:src="@{/content/images/Employees.jpg}"  width="50%" height="50%">
        <img  th:src="@{/content/images/Employees.jpg}"  width="50%" height="50%">
        <img  th:src="@{/content/images/Employees.jpg}"  width="50%" height="50%">
   </marquee>
  </div></br</br></br></br>
  
  
   <div style="background-color: orange;">
   <marquee behavior="scroll" direction="right" style="color: blue">
  A human resources management system (HRMS) or human resources information system (HRIS) or human capital management (HCM) is a form of human resources (HR) software that combines a number of systems and processes to ensure the easy management of human resources, business processes and data. Human resources software is used by businesses to combine a number of necessary HR functions, such as storing employee data, managing payrolls, recruitment processes, benefits administration, and keeping track of attendance records.
   </marquee>
   </div></br></br>
 
  
  
  <div class="container">
        <div class="row">
            
           <div class="col-md-4">
            <h2> Address</h2>
            <p>S P P S Systems Private Limited's Corporate Identification Number is (CIN) U72200TG2000PTC033732 and its registration number is 33732. 
            Its Email address is rajuch@yahoo.com and its registered address is 8-2-601/V/1, RD NO. 10 BANJARA HILLS, HYDERABAD TG 000000 IN , - , .
            </p>            
            </div>
            
            
           
           <div class="col-md-4">
           <center> <h2> Mobile Numbers</h2></center>
           <center> <p>mobile:+919854543498</br>
             Telephone:08643467</p></center>
            </div>
            
            
             
           <div class="col-md-4">
           <h2> Social Media</h2>
           <p>Website:pionerrsoft.com </p>
           <p> facebook:facebook/pioneersoft</p>
           <p> Youtube:https://www.youtube.com/results?search_query=pioneersoft</p>
           <p> Gmail:pioneer-soft@gmail.com</p>
           <p> LinkedIn:https://www.linkedin.com/company/pioneer-soft</p>
            </div>
            
 </div>
 </div>
</div>

 <div style="background-color:DodgerBlue;">
 <footer>
  <h2>CopyRight &copy; 2018 Pioneer-Soft</h2>
  <p>All Rights are Reserved</p>
  <p>Developed & maintained by Pioneer-Soft</p>
</footer>
</div>

  
</body>
</html>